@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&display=swap');

.logo-img{
  width: 40%;
  height: auto;
  min-width: 140px;
  min-height: auto;
}

.btn {
  @apply shadow-md py-3 px-6 rounded-md transition duration-300
}

.btn-primary{
  @apply bg-bookmark-purple text-white
}

.btn-secondary {
  @apply bg-bookmark-white
}
